.header{
  color: $white;
  @include position(rel);
  @include flex($between, $null, $null);
  .logo{
    font-weight: 700;
    height: $percent100;
    width: pxTorem($logo_W);
    font-size: pxTorem($logo_size);
    @include flex($center, $center, $null);
  }
  .userinfo{
    height: $percent100;
    width: pxTorem($userinfo_W);
  }
  .nav{
    height: $percent100;
    @include adaptiveSize($null, $nav_R, $null, $nav_L);
  }
}
