blockquote,
body,
button,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
ol,
p,
pre,
td,
textarea,
th,
ul,
xmp {
  margin: 0;
  padding: 0;
}

body,
html,
#app{
  @include wh($percent100);
  background-color: $body_bg;
}

html {
  font-size: $browser-default-font-size;
}

.home{
  @include wh($percent100);
  @include position(rel);
  .header{
    width: $percent100;
    height: pxTorem($header_H);
    background-color: $header_bg;
  }
  .side{
    width: pxTorem($side_W);
    background-color: $white;
    box-shadow: ($pixel_10 / 10) ($pixel_10 / 10) ($pixel_10 / 2) $sideShadow_col;
    @include adaptiveSize($side_Top, $null, $pixel_0, $null);
    @include size();
  }
  .wrapper{
    @include adaptiveSize($wrapper_Top, $pixel_0, $pixel_0, $wrapper_Left);

  }
}
