$browser-default-font-size: 16px !default; // 设置页面字体的默认大小为 16px
// 百分比
$percent100: 100%;
$percent90: 90%;
$percent80: 80%;
$percent70: 70%;
$percent60: 60%;
$percent50: 50%;
$percent40: 40%;
$percent30: 30%;
$percent20: 20%;
$percent10: 10%;
// 像素
$pixel_100: 100px;
$pixel_90: 90px;
$pixel_80: 80px;
$pixel_70: 70px;
$pixel_60: 60px;
$pixel_50: 50px;
$pixel_40: 40px;
$pixel_30: 30px;
$pixel_20: 20px;
$pixel_10: 10px;
$pixel_0: 0px;
$null: null;


$end: flex-end;
$center: center;
$start: flex-start;
$between: space-between;
$around: space-around;
$wrap: wrap;

/* 宽高 */
@mixin wh($wh) {
  width: $wh;
  height: $wh;
}

// 自适应大小
@mixin adaptiveSize($t, $r, $b, $l) {
  @include position(abs);
  @if ($t) {
    top: pxTorem($t);
  }
  @if ($r) {
    right: pxTorem($r);
  }
  @if ($b) {
    bottom: pxTorem($b);
  }
  @if ($l) {
    left: pxTorem($l);
  }
  margin: auto;
}

// flex布局
@mixin flex($h, $v, $w) {
  display: flex;
  @if ($h) {
    justify-content: $h;
  }
  @if ($v) {
    align-items: $v;
  }
  @if ($w) {
    flex-wrap: $w;
  }
}

// px转换rem
@function pxTorem($px) {
  @return $px / $browser-default-font-size * 1rem;
}

// 字体大小
@mixin size() {
  font-size: pxTorem(16px);
}

// 定位
@mixin position($rel) {
  @if ($rel == 'rel') {
    position: relative;
  } @else
  if ($rel == 'abs') {
    position: absolute;
  } @else
  if ($rel == 'fix') {
    position: fixed;
  } @else
  if ($rel == 'sta') {
    position: static;
  } @else
  if ($rel == 'sti') {
    position: sticky;
  } @else
  if ($rel == 'inh') {
    position: inherit;
  }
}
