$browser-default-font-size: 16px !default; // 设置页面字体的默认大小为 16px
// 百分比
$percent100: 100%;
$percent90: 90%;
$percent80: 80%;
$percent70: 70%;
$percent60: 60%;
$percent50: 50%;
$percent40: 40%;
$percent30: 30%;
$percent20: 20%;
$percent10: 10%;

$title: #069;
$sidebg: #666;
$white: #fff;
$navHover: #f9f;
$sideHover: #9f9;
$active: #99f;

// 宽高
@mixin wh($wh) {
  width: $wh;
  height: $wh;
}

// px转换rem
@function pxTorem($px) {
  @return $px / $browser-default-font-size * 1rem;
}

// 字体大小
@mixin size() {
  font-size: pxTorem(24px);
}

// 绝对相对
@mixin position($rel) {
  @if ($rel == 'rel') {
    position: relative;
  } @else if ($rel == 'abs') {
    position: absolute;
  } @else if ($rel == 'fix') {
    position: fixed;
  }  @else if ($rel == 'sta') {
    position: static;
  }  @else if ($rel == 'sti') {
    position: sticky;
  }  @else if ($rel == 'inh') {
    position: inherit;
  }
}
