.navigation{
  @include wh($percent100);
}
.vertical{
  display: block;
  .route{
    width: pxTorem($route_W);
    height: pxTorem($route_H);
    cursor: pointer;
    .link{
      @include wh($percent100);
      @include flex($center, $center, $wrap);
      i{
        display: block;
        width: pxTorem($link_i_W);
        height: pxTorem($link_i_H);
      }
    }
    .icon{
      @include wh($percent100);
    }
    &:hover{
      background-color: $navHover;
    }
  }
  .active{
    background-color: $active;
  }
}
.across{
  @include flex($start, $center, $null);
  .route{
    @include size();
    padding: 0 pxTorem($pixel_50 / 2);
    cursor: pointer;
    height: $percent100;
    line-height: pxTorem($pixel_80);
    &:hover{
      background-color: $sideHover;
    }
  }
  .active{
    background-color: $active;
  }
}
